* {
    box-sizing: border-box;
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
}

.back-arrow {
    width: 124px;
    height: 75px;
    background-image: url('../images/back-arrow@2x.png');
    background-size: 124px 75px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

body {
    background-image: url('../images/checkout-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

p,
h2 {
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.margin-t-l {
    margin-top: 25px;
}

.button {
    color: white;
    display: table;
}

.button.expanded {
    display: table;
}

.button p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: inherit;
    text-shadow: none;
}

.editable {
    background-color: rgba(255, 255, 255, .3);
    padding: 5px;
}

.price {
    float: right;
}
