body {
    background-image: url('../images/menu-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: #ffed69;
    margin-top: -50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

.favorites {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    width: 135px;
    height: 95px;
    background-image: url('../images/note-paper.png');
    background-size: 350px 141px;
    background-position: top right;
}

.favorites > span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.margin-t-l {
    margin-top: 10%;

}

.button {
    color: black;
    font-weight: bold;
    background-color: transparent;
    display: table;
}

.button p {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 28px;
}

.smudge-var1 {
    background: url('../images/menu-smudge1.png');
    width: 247px;
    height: 107px;
    background-repeat: no-repeat;
}

.smudge-var2 {
    background: url('../images/menu-smudge2.png');
    width: 220px;
    height: 85px;
    background-repeat: no-repeat;
}

.smudge-var3 {
    background: url('../images/menu-smudge3.png');
    width: 248px;
    height: 90px;
    background-repeat: no-repeat;
}
