body {
    background-image: url('../images/navigation-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 84px;
    text-align: center;
    color: #ffed69;
    line-height: 72px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding: 20px 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

.bottom-pin {
    position: absolute;
    bottom: 0;
}

.button {
    color: white;
    background-color: transparent;
    display: table;
}

.button p {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
}

.wood-var1 {
    background: url('../images/homepage-button1.png');
    width: 235px;
    height: 88px;
}

.wood-var2 {
    background: url('../images/homepage-button2.png');
    width: 229px;
    height: 84px;
}
