* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Soft Sugar', 'Comic Sans MS', fantasy;
}

.navbar {
    font-family: 'Verdana', sans-serif;
    position: fixed;
    width: 100%;
    background-color: #333;
    opacity: .9;
    color: #ffed69;
}

.navbar i {
    color: #ffed69;
}

.navbar div a {
    color: white;
}

.navbar-top {
    top: 0;
}

h1 {
    font-size: 84px;
    text-align: center;
    color: #ffed69;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding: 20px 0px;
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

.placeholder-menu:hover {
    font-size: 2rem;
    color: #ffed69;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

body {
    background-image: url('../compiled_images/wood_grain.jpg');
    font-family: 'DJ Gross', 'Comic Sans MS', fantasy;
}

.margin-t-l {
    margin-top: 25px;
}

.button {
    color: white;
    display: table;
}

.button.expanded {
    display: table;
}

.button p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: inherit;
    text-shadow: none;
}

span {
    display: inline;
}

input[type="text"] {
    display: inline;
    font-family: 'Verdana', sans-serif;
}

.price {
    float: right;
}

.note-paper-button {
    background: url('../compiled_images/note-paper-button.png');
    background-size: 398px 144px;
    width: 398px;
    height: 144px;
    padding: 15px;
}

select {
    font-family: 'Verdana', sans-serif;
}
