body {
    background-image: url('../compiled_images/wood_grain.jpg');
    font-family: 'DJ Gross', 'Comic Sans MS', fantasy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Soft Sugar', 'Comic Sans MS', fantasy;
}

.navbar {
    font-family: 'Verdana', sans-serif;
    position: fixed;
    width: 100%;
    height: 44px;
    color: #ffed69;
}

.navbar i {
    color: #ffed69;
}
.navbar div a {
    color: white;
}

.navbar-top {
    top: 0;
}

input[type="text"] {
    border: 0;
    border-bottom: 2px solid black;
    background-color: transparent;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #ffed69;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding: 20px 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

.button {
    color: white;
    background-color: transparent;
    display: table;
}

.button p {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
}

.button:hover {
    background-color: transparent;
}

.note-paper-button {
    background: url('../compiled_images/note-paper-button.png');
    background-size: 398px 144px;
    width: 398px;
    height: 144px;
    padding: 20px;
}
