body {
    background-image: url('../compiled_images/wood_grain.jpg');
    font-family: 'DJ Gross', 'Comic Sans MS', fantasy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Soft Sugar', 'Comic Sans MS', fantasy;
}

.navbar {
    font-family: 'Verdana', sans-serif;
    position: fixed;
    width: 100%;
    background-color: #333;
    opacity: .9;
    color: #ffed69;
}

.navbar i {
    color: #ffed69;
}

.navbar div a {
    color: white;
}

.navbar-top {
    top: 0;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: #ffed69;
    margin-top: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    font-family: 'DK Dirrrty', Helvetica, sans-serif;
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

.placeholder-menu:hover {
    font-size: 2rem;
    color: #ffed69;
    font-size: bold;
    margin-left: 10px;
}

.back-arrow {
    width: 124px;
    height: 75px;
    background-image: url('../images/back-arrow@2x.png');
    background-size: 124px 75px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

.favorites {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    width: 135px;
    height: 95px;
    background-image: url('../images/note-paper.png');
    background-size: 350px 141px;
    background-position: top right;
}

.favorites > span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.margin-t-l {
    margin-top: 10%;
}

.favorite-item {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    font-size: 24px;
    margin-left: 45px;
    margin-top: 15px;
}

.favorite-item i {
    padding-left: 15px;
}
