body {
    background-image: url('../compiled_images/wood_grain.jpg');
    font-family: 'DJ Gross', 'Comic Sans MS', fantasy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Soft Sugar', 'Comic Sans MS', fantasy;
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

.placeholder-menu:hover {
    font-size: 2rem;
    color: #ffed69;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

.back-arrow {
    width: 124px;
    height: 75px;
    background-image: url('../images/back-arrow@2x.png');
    background-size: 124px 75px;
    display: block;
    float: right;
    right: 0;
    bottom: 0;
}

.item {
    display: table;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: #ffed69;
    line-height: 48px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding-bottom: 30px;
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
    font-family: "DK Dirrrty", Helvetica, sans-serif;
}

a {
    color: black;
}

a:hover {
    color: black;
}

#testing {
    background-image: url(../images/paper-background-new.png);
    background-size: cover;
    background-position: center
}

.justwork {
    margin-top: 4em;
}
