body{
    background-image: url(../images/wood_grain.jpg);
}
.wrapper{
    background-image: url(../images/notebook_yellow.jpg);
    background-size: cover;
    margin-top: 1em;
    height: 500px;
}
h1{
    font-family: 'Soft Sugar', 'Comic Sans MS', fantasy;
    font-size: 3em;
    text-align: center;
    line-height: 1.1em;
    margin-top: .5em
}
p{
    font-family: 'DJ Gross', 'Comic Sans MS', fantasy;
    font-size: 1.2em;
}
.totalrow{
    padding-top: 1em;
    border-bottom-style: solid;
    margin-bottom: 1em;
}
.topbar{
    margin-top: .5em;
}
.footing {
/*  margin-top: 3em;*/
  position: fixed;
  bottom: 0;
    text-align: center;
    background: rgba(255, 255, 255, .8);
}
.back{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
a{
    color: black;
}
a:hover{
    color: #ef8a01; 
}
.needsblue{
    color: #014077;
}
.title{
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
}
.editinfo{
    background-image: url(../svg_assets/pen_circle_big-01.svg);
    padding-top: .5em;
    background-repeat: no-repeat;
}
.centerme{
    text-align: center;
}
.cheesebg img{
    width: 100%;
    height: 70%;
}