body {
    background-image: url('../compiled_images/wood_grain.jpg');
    font-family: 'DJ Gross', 'Comic Sans MS', fantasy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Soft Sugar', 'Comic Sans MS', fantasy;
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
}

.back-arrow {
    width: 124px;
    height: 75px;
    background-image: url('../images/back-arrow@2x.png');
    background-size: 124px 75px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #ffed69;
    line-height: 72px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding: 20px 0px;
    font-family: 'DK Dirrrty', Helvetica, sans-serif;
}

.row {
    background-color: rgba(0, 0, 0, .5);
    display: table-cell;
    vertical-align: middle;
}

a {
    color: #ffed69;
    text-decoration: none;
}

a:hover {
    color: #ffed69;
    font-weight: bold;
}

a:visited {
    color: #ffed69;
    text-decoration: none;
}

p {
    color: white;
    padding: 20px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, .5);
}
