@font-face {
    font-family: 'DK Dirrrty';
    src: url('../dk_dirrrty-files/dk_dirrrty-webfont.eot');
    src: url('../dk_dirrrty-files/dk_dirrrty-webfont.eot?#iefix') format('embedded-opentype'),
    url('../dk_dirrrty-files/dk_dirrrty-webfont.woff2') format('woff2'),
    url('../dk_dirrrty-files/dk_dirrrty-webfont.woff') format('woff'),
    url('../dk_dirrrty-files/dk_dirrrty-webfont.ttf') format('truetype'),
    url('../dk_dirrrty-files/dk_dirrrty-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Trashhand';
    src: url('../trashhand-files/trashhand-webfont.eot');
    src: url('../trashhand-files/trashhand-webfont.eot?#iefix') format('embedded-opentype'),
    url('../trashhand-files/trashhand-webfont.woff2') format('woff2'),
    url('../trashhand-files/trashhand-webfont.woff') format('woff'),
    url('../trashhand-files/trashhand-webfont.ttf') format('truetype'),
    url('../trashhand-files/trashhand-webfont.svg#svgFontName') format('svg');
}
* {
    box-sizing: border-box;
}

h1 {
    font-size: 84px;
    text-align: center;
    color: #ffed69;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding: 20px 0px;
    font-family: "DK Dirrrty", Helvetica, sans-serif;
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

.placeholder-menu:hover {
    font-size: 2rem;
    color: #ffed69;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

body {
    background-image: url('../images/checkout-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Trashhand", Helvetica, sans-serif;
}

p,
h2 {
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    font-family: "Trashhand", Helvetica, sans-serif;
}

.margin-t-l {
    margin-top: 25px;
}

.button {
    color: white;
    display: table;
}

.button.expanded {
    display: table;
}

.button p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: inherit;
    text-shadow: none;
}

.editable {
    background-color: rgba(255, 255, 255, .3);
    padding: 5px;
}

.price {
    float: right;
}
