body {
    background-image: url('../compiled_images/wood_grain.jpg');
    font-family: 'DJ Gross', 'Comic Sans MS', fantasy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Soft Sugar', 'Comic Sans MS', fantasy;
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

.placeholder-menu:hover {
    font-size: 2rem;
    color: #ffed69;
    font-size: bold;
    margin-left: 10px;
    display: block;
}

.back-arrow {
    width: 124px;
    height: 75px;
    background-image: url('../sandwich-images/back-arrow@2x.png');
    background-size: 124px 75px;
    display: block;
    float: right;
    right: 0;
    bottom: 0;
}

.item {
    display: table;
}

.item-description {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 35px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: #ffed69;
    line-height: 48px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding-bottom: 30px;
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
    font-family: "DK Dirrrty", Helvetica, sans-serif;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.menuitem {
    margin-bottom: 2em;
    text-align: center;
}

#triplecheese {
    background-image: url(../compiled_images/scrap_paper_2.png);
    background-size: cover;
    background-position: center
}

#plainole {
    background-image: url(../compiled_images/scrap_paper_2.png);
    background-size: cover;
    background-position: center
}

.plain-ole {
    width: 188.5px;
    height: 227px;
    background-image: url('../sandwich-images/menu-grilled-cheese-tomato.png');
    background-size: 188.5px 227px;
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}

.mac-cheese {
    width: 188.5px;
    height: 224px;
    background-image: url('../sandwich-images/menu-mac-n-cheese-burger.png');
    background-size: 188.5px 224px;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.caprese {
    width: 188.5px;
    height: 224px;
    background-image: url('../sandwich-images/menu-caprese.png');
    background-size: 188.5px 224px;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.triple-cheese {
    width: 188.5px;
    height: 229.5px;
    background-image: url('../sandwich-images/menu-triple-cheese.png');
    background-size: 188.5px 224px;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
