@font-face {
    font-family: 'DK Dirrrty';
    src: url('../dk_dirrrty-files/dk_dirrrty-webfont.eot');
    src: url('../dk_dirrrty-files/dk_dirrrty-webfont.eot?#iefix') format('embedded-opentype'),
    url('../dk_dirrrty-files/dk_dirrrty-webfont.woff2') format('woff2'),
    url('../dk_dirrrty-files/dk_dirrrty-webfont.woff') format('woff'),
    url('../dk_dirrrty-files/dk_dirrrty-webfont.ttf') format('truetype'),
    url('../dk_dirrrty-files/dk_dirrrty-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Trashhand';
    src: url('../trashhand-files/trashhand-webfont.eot');
    src: url('../trashhand-files/trashhandwebfont.eot?#iefix') format('embedded-opentype'),
    url('../trashhand-files/trashhandwebfont.woff2') format('woff2'),
    url('../trashhand-files/trashhandwebfont.woff') format('woff'),
    url('../trashhand-files/trashhandwebfont.ttf') format('truetype'),
    url('../trashhand-files/trashhandwebfont.svg#svgFontName') format('svg');
}

body {
    background-image: url('../images/uh-oh-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    font-family: 'Trashhand', Helvetica, sans-serif;
}

.placeholder-menu {
    font-size: 2rem;
    color: #111;
    font-size: bold;
    margin-left: 10px;
}

.back-arrow {
    width: 124px;
    height: 75px;
    background-image: url('../images/back-arrow@2x.png');
    background-size: 124px 75px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #ffed69;
    line-height: 72px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding: 20px 0px;
    font-family: 'DK Dirrrty', Helvetica, sans-serif;
}

.row {
    background-color: rgba(0, 0, 0, .5);
    display: table-cell;
    vertical-align: middle;
}

a {
    color: #ffed69;
    text-decoration: none;
}

a:hover {
    color: #ffed69;
    font-weight: bold;
}

a:visited {
    color: #ffed69;
    text-decoration: none;
}

p {
    color: white;
    padding: 20px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, .5);
}
